#cabecalho {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-top: -2%;
  font-size: 45px;
  color: white;
  text-align: center;
  background-color: #cd4d00;
  height: 80px;
}

.logo {
  margin-left: 37.5%;
  padding-top: 6%;
}

.body {
  background-color: #595f96;
}

#mobile {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-left: 530px;
  margin-top: 100px;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: #94c47d;
  width: 245px;
  height: 183px;
}

#data {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-left: 850px;
  margin-top: -202px;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: #e06666;
  width: 245px;
  height: 183px;
}

#web {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-left: 1170px;
  margin-top: -200px;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: #6d9eeb;
  width: 245px;
  height: 183px;
}

#turmas {
  font-family: "Times New Roman", Times, serif;
  padding-top: 10px;
  font-weight: bolder;
  font-style: oblique;
  font-size: 26px;
  color: white;
  text-align: right;
  float: right;
}

#rodape {
  background-color: #d8d8d8;
  margin-top: 4.2%;

  width: 1920px;
  height: 200px;
}

form > input {
  margin-top: 50px;
  font-size: large;
  margin-left: 670px;
  margin-right: 0px;
  width: 550px;
  height: 45px;
}

form > button {
  color: white;
  font-size: large;
  font-weight: bolder;
  background-color: red;
}
